@using LoginPage.Models
@model Table



@if (Model.username == null)
{
    <form method="POST" asp-action="Create" autocomplete="off">
        <div class="form-group">
            <input type="text" asp-for="name" placeholder="Name" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="surname" placeholder="Surname" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="gsm" placeholder="Gsm" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="adress" placeholder="Adress" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="username" placeholder="*Username" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="status" placeholder="Status" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Create</button>
        </div>
    </form>
}else
{
    <form method="POST" asp-action="Update" autocomplete="off">
        <div class="form-group">
            <input type="text" asp-for="name" placeholder="Name" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="surname" placeholder="Surname" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="gsm" placeholder="Gsm" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="adress" placeholder="Adress" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="username" placeholder="*Username" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
            <input type="text" asp-for="status" placeholder="Status" class="form-control">
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-primary">Update</button>
        </div>
    </form>
}