@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome My Login Page</h1>
    <p>First Login Page with ASP.NET Core <a href="https://github.com/capogluuu/LoginPage"> to access the codes of the project </a>.</p>
</div>
